* {
    color: rgb(255 203 93);
}

.background {
    margin-left: 10vw;
    height: 30vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    padding: 1vh 5vw;
    position: relative;
}

.backgroundGrid {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.backgroundGrid_left {
    width: 45vw;
    height: 100%;
}

.backgroundGrid_right {
    width: 29vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.backgroundDescription {
    margin-bottom: 3vh;
    width: 100%;
    font-size: 2vh;
    line-height: 3vh;
    text-align: justify;
    font-family: Roboto, sans-serif;
}

.backgroundSkills {
    width: 100%;
    margin-bottom: 3vh;
}

.backgroundSkillsTitle {
    font-size: 2vh;
    line-height: 3vh;
    font-family: Roboto, sans-serif;
    color: rgb(255 212 119);

}

.backgroundSkillsValue {
    font-size: 2vh;
    line-height: 3vh;
    font-family: Roboto, sans-serif;
}

.subItemTopLine {
    height: 1.5vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    top: 0;
}

.subItemBottomLine {
    height: 1.5vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
    bottom: 0;
}