.linkBtn {
    position: absolute;
    right: 15vw;
    top: 40vh;
    width: 20vw;
    height: 7vw;
    box-sizing: border-box;
    font-size: 1.9vw;
    line-height: 7vw;
    text-align: center;
    text-decoration: none;
    color: rgb(255 203 93);
    background-image: url("/public/assets/link/linkBtn.svg");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
}

.linkBtn:visited {
    color: rgb(255 203 93);
}

.linkBtn:hover {
    opacity: 1;
}