.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 40vh;
    overflow: hidden;
}

.slidesContainer {
    display: flex;
    gap: 5vw;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 16vw;
    opacity: 0.6;
    transform: scale(0.95);
    cursor: pointer;
    background-image: url("/public/assets/icons/widgetFrame.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.slideActive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 16vw;
    opacity: 1;
    transform: scale(1.05);
    background-image: url("/public/assets/icons/widgetFrame.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.slideBack {
    position: absolute;
    left: 1vw;
    top: 1vh;
    width: 10vw;
    height: 14vw;
    background-image: linear-gradient(to bottom, rgb(125 0 0 / 20%), transparent);
    z-index: -1;
}

.itemImage {
    height: 11vw;
}

.itemTitle {
    display: flex;
    width: 10.4vw;
    height: 7vh;
    font-size: 3vh;
    line-height: 7vh;
    align-items: center;
    justify-content: center;
    color: rgb(255 203 93);
    border-top: 1px solid rgb(255 203 93);
    box-sizing: border-box;
}

.prevBtn {
    height: 60px;
    width: 33px;
    background-image: url("/public/assets/icons/arrowBtn.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    outline: none;
    border: none;
}

.nextBtn {
    height: 60px;
    width: 33px;
    transform: rotate(180deg);
    background-image: url("/public/assets/icons/arrowBtn.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    outline: none;
    border: none;
}

.class {
    margin-left: 10vw;
    height: 30vh;
    width: 80vw;
    position: relative;
    padding: 1vh 5vw;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.classDescription {
    width: 100%;
    overflow-y: scroll;
    font-size: 2vh;
    line-height: 3vh;
    padding-right: 5px;
}

.classDescription::-webkit-scrollbar {
    width: 1px;
    background: transparent;
}

.classDescription::-webkit-scrollbar-thumb {
    background: rgb(255 203 93);
}

.classBaseText,
.classTitleText {
    font-size: 2vh;
    line-height: 3vh;
    font-family: Roboto, sans-serif;
    display: block;
}

.classTitleText {
    font-weight: bold;
    color: rgb(255 207 107);
}

.classAbilities {
    width: 100%;
    overflow-y: scroll;
    font-size: 2vh;
    line-height: 3vh;
    padding-right: 5px;
}

.classAbilities::-webkit-scrollbar {
    width: 1px;
    background: transparent;
}

.classAbilities::-webkit-scrollbar-thumb {
    background: rgb(255 203 93);
}

.subItemCorner1,
.subItemCorner2,
.subItemCorner3,
.subItemCorner4 {
    width: 5vw;
    position: absolute;
}

.subItemCorner1 {
    left: 0;
    top: 0;
    transform: scaleX(-1);
}

.subItemCorner2 {
    right: 0;
    top: 0;
}

.subItemCorner3 {
    right: 0;
    bottom: 0;
    transform: scaleY(-1);
}

.subItemCorner4 {
    left: 0;
    bottom: 0;
    transform: scaleY(-1) scaleX(-1);
}