.selectSkills {
    width: 100vw;
    height: 80vh;
    padding-inline: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.skillsWrapper,
.skillsImg {
    height: 100%;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    height: 2.5vh;
    text-align: center;
    font-size: 2.5vh;
    line-height: 2.5vh;
}

.skillsDots {
    width: 100%;
    height: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.activeDot,
.inactiveDot {
    height: 2vh;
    width: 2vh;
    border-radius: 2px;
    background-color: rgb(255 203 93);
    transition: background-color 0.2s ease;
    opacity: 1;
}

.inactiveDot {
    opacity: 0.5;
}

.skillsList {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.skillTab {
    width: 47.6vh;
    height: 10vh;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.skillName,
.skillNameInactive {
    padding-left: 2vw;
    width: 40vh;
    font-size: 2.5vh;
    line-height: 5vh;
    opacity: 1;
}

.skillNameInactive {
    opacity: 0.5;
}

.horizontalFrame,
.horizontalFrameInactive {
    height: 10vh;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
}

.horizontalFrameInactive {
    opacity: 0.5;
}

