.pageWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, rgb(0 0 0 / 60%), transparent), url("/public/assets/background/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.charPage {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 720px;
    background: white;
}

.sheetHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    align-items: center;
}

.name {
    height: 100%;
    width: 300px;
    border: 2px solid #a9a9ac;
    box-sizing: border-box;
    padding: 1px 0 2px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
}

.borderCorner {
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    width: 12px;
    z-index: 1;
}

.cornerTL {
    left: -3px;
    top: -3px;
}

.cornerTR {
    right: -3px;
    top: -3px;
}

.cornerBL {
    left: -3px;
    bottom: -3px;
    transform: scaleY(-1);
}

.cornerBR {
    right: -3px;
    bottom: -3px;
    transform: scale(-1);
}

.cornerCircle {
    background-image: url("/public/assets/icons/borderCircle.svg");
}

.cornerTriangle {
    background-image: url("/public/assets/icons/cornerRound.svg");
}

.lvl {
    height: 90px;
    width: 80px;
    border: 2px solid #a9a9ac;
    background: white;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;
    transform: translateX(-12.5%);
}

.armor {
    height: 100px;
    width: 90px;
    box-sizing: border-box;
    padding: 5px 20px 0;
    display: flex;
    gap: 2px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-right: 10px;
}

.hits {
    width: 240px;
    height: 100px;
    border: 2px solid #a9a9ac;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.shield {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: 0;
}

.shieldCheck {
    border-radius: 2px;
    height: 9px;
    width: 9px;
    transform: rotate(45deg);
    background: #fff;
    border: 1px solid #000;
}

.name1row {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
    grid-row: 1;
}

.sheetLabel {
    display: flex;
    flex-direction: column;
}


.input {
    border: 0;
    border-bottom: 1px solid rgb(255 203 93);
    width: 95%;
    font-size: 10px;
    outline: none;
    background: none;
    text-align: inherit;
    z-index: 1;
}

.inputArmor {
    border: 0;
    font-size: 20px;
    outline: none;
    background: none;
    text-align: inherit;
    width: 100%;
    z-index: 1;
}

.label {
    font-size: 9px;
    text-transform: uppercase;
    line-height: 15px;
}

.hitPoints {
    width: 120px;
    height: 100%;
    display: grid;
    grid-template-columns: 60px 60px;
    grid-template-rows: 25px 75px;
    align-items: end;
}

.hitDice {
    width: 60px;
    height: 100%;
    display: grid;
    grid-template-columns: 60px;
    grid-template-rows: 35px 65px;
    align-items: end;
}

.hitHeader {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
    grid-row: 1;
    font-size: 13px;
    line-height: 15px;
}

.deathSaves {
    width: 60px;
    height: 100%;
    display: grid;
    grid-template-columns: 60px;
    grid-template-rows: 25px 75px;
    place-items: end center;
}

.attempts {
    width: 50px;
}

.sheetLogo {
    height: 35px;
    width: 720px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logoTracery {
    height: 12px;
}

.logoTressym {
    height: 30px;
}

.sheetMain {
    height: 900px;
    width: 720px;
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.mainStats {
    height: 100%;
    width: 265px;
    display: flex;
    flex-direction: column;
}

.mainFeatures {
    height: 100%;
    width: 435px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
}

.characteristic {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.abilities {
    height: 615px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.abilitiesColumn {
    height: 100%;
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.proficiency {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #a9a9ac;
    box-sizing: border-box;
    padding: 2px;
}

.abilitiesH {
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
}

.abilitiesInput {
    border: 1px solid #a9a9ac;
    font-size: 20px;
    line-height: 35px;
    height: 35px;
    width: 35px;
    outline: none;
    background: none;
    text-align: inherit;
    box-sizing: border-box;
    z-index: 1;
}

.abilityBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #a9a9ac;
    box-sizing: border-box;
    padding: 5px 2px;
}

.strength {
    height: 130px;
}

.dexterity {
    height: 170px;
}

.constitution {
    height: 110px;
}

.exhaustion {
    height: 50px;
}

.inspiration {
    height: 70px;
}

.intelligence {
    height: 210px;
}

.wisdom {
    height: 210px;
}

.charisma {
    height: 190px;
}

.AbilityModifier {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.modifierLabel {
    width: 70px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    transform: translateX(12.5%);
}

.valueLabel {
    width: 55px;
    height: 100%;
    padding-top: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    transform: translateX(-12.5%);
}

.modifier {
    font-size: 30px;
    display: inline-flex;
    background: #fff;
    width: 50px;
    height: 50px;
    border: 2px solid #a9a9ac;
    border-radius: 50%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.value {
    font-size: 20px;
    display: inline-flex;
    width: 50px;
    height: 25px;
    border: 1px solid #a9a9ac;
    border-radius: 5%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.abilityLabel {
    font-size: 8px;
    text-transform: uppercase;
    line-height: 10px;
}

.abilitiesList {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.feature {
    height: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 20px 20px 80px;
    box-sizing: border-box;
}

.featureFirst {
    border-bottom: 1px solid #a9a9ac;
    border-top: 1px solid #a9a9ac;
}

.featureBtn {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    cursor: pointer;
    place-self: center center;
}

.featureValue {
    font-size: 15px;
    line-height: 18px;
    text-decoration: underline;
    place-self: center center;
}

.featureName {
    font-size: 8px;
    line-height: 10px;
    place-self: center start;
}

.featureSave {
    font-weight: bold;
}

.exhaustionBar {
    height: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    box-sizing: border-box;
    place-items: center center;
}

.charBlock {
    height: 100%;
    width: 90px;
    display: flex;
    flex-direction: column;
    border: 2px solid #a9a9ac;
    text-align: center;
}

.blockExtended {
    width: 150px;
}

.charValue {
    font-size: 30px;
    width: 100%;
    height: 40px;
    border-top: 1px solid #a9a9ac;
    box-sizing: border-box;
}

.charText {
    font-size: 15px;
    line-height: 40px;
}

.weaponBar {
    width: 100%;
    height: 165px;
    border: 2px solid #a9a9ac;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
}

.weapon {
    width: 100%;
    display: grid;
    grid-template-columns: 120px 50px 100px 155px;
    grid-template-rows: repeat(7, 20px);
    place-items: start center;
}

.weapon > :nth-child(4n+1) { border-left: none; }
.weapon > :nth-child(4n) { border-right: none; }

.weaponInput {
    border: none;
    border-left: 1px solid #a9a9ac;
    outline: none;
    background: none;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.weaponText {
    width: 100%;
    height: 100%;
    display: inline-flex;
    border-bottom: 1px solid #a9a9ac;
    border-left: 1px solid #a9a9ac;
    font-size: 8px;
    line-height: 10px;
    align-items: center;
    padding-left: 5px;
}