html, body {
    overflow-x: hidden;
}

.pageWrapper {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, rgb(0 0 0 / 60%), transparent), url("/public/assets/background/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    align-items: center;
    overflow-x: hidden;
}

.charPage {
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 1020px;
    margin-bottom: 200px;
}

.spellPage {
    flex-direction: row;
    justify-content: space-between;
}

.sheetHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.name {
    height: 100%;
    width: 300px;
    box-sizing: border-box;
    padding: 8px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
    column-gap: 10px
}

.border {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.border img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
}

.lvl {
    height: 90px;
    width: 55px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

.armor {
    height: 100px;
    width: 90px;
    box-sizing: border-box;
    padding: 5px 20px 0;
    display: flex;
    gap: 2px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    position: relative;
    z-index: 1;
}

.hits {
    width: 240px;
    height: 100px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 10px;
}

.shield {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: 0;
}

.shieldCheck {
    border-radius: 2px;
    height: 9px;
    width: 9px;
    transform: rotate(45deg);
    border: 1px solid rgb(255 203 93);
}

.name1row {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
    grid-row: 1;
}

.sheetLabel {
    display: flex;
    flex-direction: column;
}


.input {
    border: 0;
    border-bottom: 1px solid rgb(255 203 93);
    width: 95%;
    font-size: 10px;
    outline: none;
    background: none;
    text-align: inherit;
    z-index: 1;
    color: rgb(255 203 93);
}

.input::placeholder {
    color: rgb(255 203 93);
}

.text {
    display: block;
    height: 100%;
    border-bottom: 1px solid rgb(255 203 93);
    font-size: 9px;
    line-height: 15px;
    color: rgb(255 203 93);
    font-weight: 500;
}

.inputArmor {
    border: 0;
    font-size: 20px;
    outline: none;
    background: none;
    text-align: inherit;
    width: 100%;
    z-index: 1;
}

.label {
    font-size: 8px;
    text-transform: uppercase;
    line-height: 12px;
}

.charlabel {
    font-size: 8px;
    text-transform: uppercase;
    line-height: 20px;
}

.hitPoints {
    width: 120px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    align-items: end;
}

.hitPoints > :nth-child(3) {
    border-left: 1px solid rgb(255 203 93);
}

.hitPoints > * {
    padding-left: 2px;
    padding-right: 2px;
}

.hitDice {
    width: 60px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    border-left: 1px solid rgb(255 203 93);
    border-right: 1px solid rgb(255 203 93);
}

.hitDice > * {
    padding-left: 2px;
    padding-right: 2px;
}

.hitHeader {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
    grid-row: 1;
    font-size: 11px;
    line-height: 12px;
}

.deathSaves {
    width: 60px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    place-items: end center;
}

.attempts {
    width: 50px;
}

.sheetLogo {
    height: 35px;
    width: 720px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logoTracery {
    height: 12px;
}

.logoTressym {
    height: 30px;
}

.sheetMain {
    height: 900px;
    width: 720px;
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.mainStats {
    height: 100%;
    width: 265px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainFeatures {
    height: 100%;
    width: 435px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
}

.characteristic {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.abilities {
    height: 615px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.abilitiesColumn {
    height: 100%;
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.proficiency {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    padding: 2px;
}

.abilitiesH {
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
}

.abilitiesInput {
    border: 1px solid #a9a9ac;
    font-size: 20px;
    line-height: 35px;
    height: 35px;
    width: 35px;
    outline: none;
    background: none;
    text-align: inherit;
    box-sizing: border-box;
    z-index: 1;
}

.equipment {
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    padding: 7px;
    position: relative;
}

.equipmentHeader {
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: start;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(255 203 93);
    border-top: 1px solid rgb(255 203 93);
}

.equipmentHeaderList{
    display: inline-flex;
    gap: 2px;
}

.abilityBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 5px 10px;
    position: relative;
}

.strength {
    height: 130px;
}

.dexterity {
    height: 170px;
}

.constitution {
    height: 110px;
}

.exhaustion {
    height: 50px;
}

.inspiration {
    height: 70px;
}

.intelligence {
    height: 210px;
}

.wisdom {
    height: 210px;
}

.charisma {
    height: 190px;
}

.AbilityModifier {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.modifierLabel {
    width: 70px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    transform: translateX(10%);
}

.valueLabel {
    width: 55px;
    height: 100%;
    padding-top: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    transform: translateX(-10%) translateY(-10%);
}

.modifier {
    font-size: 25px;
    display: inline-flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.value {
    font-size: 15px;
    line-height: 35px;
    display: inline-flex;
    width: 50px;
    height: 35px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.spellValue {
    font-size: 15px;
    line-height: 20px;
    display: inline-flex;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.abilityLabel {
    font-size: 6px;
    text-transform: uppercase;
    line-height: 10px;
}

.abilitiesList {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.feature {
    height: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 15px 20px 80px;
    box-sizing: border-box;
}

.featureFirst {
    border-bottom: 1px solid rgb(255 203 93);
    border-top: 1px solid rgb(255 203 93);
}

.featureValue {
    font-size: 15px;
    line-height: 18px;
    text-decoration: underline;
    place-self: center center;
}

.featureName {
    font-size: 8px;
    line-height: 10px;
    place-self: center start;
}

.featureSave {
    font-weight: bold;
}

.exhaustionBar {
    height: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    box-sizing: border-box;
    place-items: center center;
}

.charBlock {
    height: 100%;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.blockExtended {
    width: 150px;
}

.charValue {
    font-size: 25px;
    line-height: 25px;
    width: 100%;
    height: 30px;
    border-top: 1px solid rgb(255 203 93);
    box-sizing: border-box;
}

.charText {
    font-size: 15px;
    line-height: 25px;
}

.weaponBar {
    width: 100%;
    height: 165px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.weapon {
    width: 100%;
    display: grid;
    grid-template-columns: 120px 50px 100px 155px;
    grid-template-rows: repeat(7, 20px);
    place-items: start center;
    border-top: 1px solid rgb(255 203 93);
}

.weapon > :nth-child(4n+1) { border-left: none; }
.weapon > :nth-child(4n) { border-right: none; }

.weaponInput {
    border: none;
    border-left: 1px solid rgb(255 203 93);
    background: none;
    display: inline-flex;
    justify-content: center;
    text-align: start;
    outline: none;
    width: 100%;
    height: 100%;
}

.weaponText {
    width: 100%;
    height: 100%;
    display: inline-flex;
    border-left: 1px solid rgb(255 203 93);
    font-size: 8px;
    line-height: 10px;
    align-items: center;
    justify-content: start;
    padding-left: 5px;
}

.classFeatures {
    width: 100%;
    height: 350px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.classColumns {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid rgb(255 203 93);
    position: relative;
}

.classColumns::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: rgb(255 203 93);
}

.classArea {
    width: 210px;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    text-decoration: none;
    background: transparent;
    font-size: 8px;
    line-height: 10px;
    padding: 5px 0 0 5px;
}

.classFeats {
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.featsColumn {
    width: 210px;
    height: 100%;
    padding: 7px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.featsInput {
    width: 100%;
    height: 100%;
    padding: 5px 0 0 5px;
    resize: none;
    border: none;
    background: transparent;
    border-top: 1px solid rgb(255 203 93);
    font-size: 8px;
    line-height: 10px;
    z-index: 1;
    outline: none;
}

.equipmentName {
    width: 100%;
    height: 15px;
    display: inline-flex;
    font-size: 8px;
    line-height: 15px;
    text-transform: uppercase;
}

.leftColumn {
    width: 475px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spellInfo {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-between;
}

.spellcastingAbility {
    height: 100%;
    width: 140px;
    padding: 8px;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0;
    box-sizing: border-box;
}

.spellcastingAbility > :nth-child(n+3) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(255 203 93);
    border-right: 1px solid rgb(255 203 93);
    box-sizing: border-box;
}

.spellcastingAbility > :nth-child(2),
.spellcastingAbility > :nth-child(4),
.spellcastingAbility > :nth-child(6),
.spellcastingAbility > :nth-child(8) {
    border-right: none;
    padding-left: 5px;
}

.imageNslots {
    width: 315px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spellSlots {
    height: 100px;
    width: 100%;
    padding: 8px;
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr 1fr 2fr);
    grid-template-rows: 12px 10px 20px 20px 20px;
    gap: 0;
    box-sizing: border-box;
}

.spellSlots > :nth-child(1) {
    border-bottom: 1px solid rgb(255 203 93);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 10;
    grid-row: 1;
}

.spellSlots > :nth-child(n+2) {
    display: flex;
    padding-left: 2px;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.spellSlots > :nth-child(9n+4),
.spellSlots > :nth-child(9n+7) {
    border-right: 1px solid rgb(255 203 93);
}

.spellImg {
    width: 100%;
    height: 30px;
    border: 1px solid rgb(255 203 93);
    box-sizing: border-box;
}

.spellTitle {
    font-size: 7px;
    line-height: 10px;
    place-self: center start;
    opacity: 0.8;
    text-decoration: underline;
}

.rightColumn {
    width: 215px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cantrips {
    width: 100%;
    height: 860px;
    padding: 8px;
    display: grid;
    flex-direction: column;
    grid-template-columns: 15px 125px 60px 45px 120px 1fr;
    grid-template-rows: repeat(42, 1fr);
}

.cantrips > :nth-child(1) {
    border-bottom: 1px solid rgb(255 203 93);
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 7;
    grid-row: 1;
}

.cantrips > :nth-child(n) {
    width: 100%;
    height: 100%;
    text-align: center;
}

.cantrips > :nth-child(n+3) {
    border-left: 1px solid rgb(255 203 93);
}

.cantrips > :nth-child(6n+2) {
    border-left: none;
}

.appearance {
    width: 100%;
    height: 100px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.personality {
    width: 100%;
    height: 330px;
    padding: 8px 8px 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.languages {
    width: 100%;
    height: 70px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.coins {
    width: 100%;
    height: 70px;
    padding: 8px;
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 15px 10px 20px;
    gap: 4px;
    box-sizing: border-box;
}

.coins > :nth-child(1) {
    border-bottom: 1px solid rgb(255 203 93);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 6;
    grid-row: 1;
}

.coins > :nth-child(n) {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sequipment {
    width: 100%;
    height: 390px;
    padding: 8px 8px 15px;
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
}

.magicTool {
    width: 100%;
    height: 15px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-align: start;
}


