.pageWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, rgb(0 0 0 / 60%), transparent), url("/public/assets/background/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.charPage {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 720px;
    background: white;
}

.sheetHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    align-items: center;
}

.name {
    height: 100%;
    width: 300px;
    border: 2px solid #a9a9ac;
    box-sizing: border-box;
    padding: 1px 0 2px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
}

.borderCorner {
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    width: 12px;
    z-index: 1;
}

.cornerTL {
    left: -3px;
    top: -3px;
}

.cornerTR {
    right: -3px;
    top: -3px;
}

.cornerBL {
    left: -3px;
    bottom: -3px;
    transform: scaleY(-1);
}

.cornerBR {
    right: -3px;
    bottom: -3px;
    transform: scale(-1);
}

.cornerCircle {
    background-image: url("/public/assets/icons/borderCircle.svg");
}

.cornerTriangle {
    background-image: url("/public/assets/icons/cornerRound.svg");
}

.lvl {
    height: 90px;
    width: 80px;
    border: 2px solid #a9a9ac;
    background: white;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;
    transform: translateX(-12.5%);
}

.armor {
    height: 100px;
    width: 90px;
    box-sizing: border-box;
    padding: 5px 20px 0;
    display: flex;
    gap: 2px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-right: 10px;
}

.hits {
    width: 240px;
    height: 100px;
    border: 2px solid #a9a9ac;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.shield {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: 0;
}

.shieldCheck {
    border-radius: 2px;
    height: 9px;
    width: 9px;
    transform: rotate(45deg);
    background: #fff;
    border: 1px solid #000;
}

.name1row {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
    grid-row: 1;
}

.sheetLabel {
    display: flex;
    flex-direction: column;
}


.input {
    border: 0;
    border-bottom: 1px solid rgb(255 203 93);
    width: 90%;
    font-size: 10px;
    outline: none;
    background: none;
    text-align: inherit;
    z-index: 1;
}

.inputArmor {
    border: 0;
    font-size: 20px;
    outline: none;
    background: none;
    text-align: inherit;
    width: 100%;
    z-index: 1;
}

.label {
    font-size: 9px;
    text-transform: uppercase;
    line-height: 15px;
}

.hitPoints {
    width: 120px;
    height: 100%;
    display: grid;
    grid-template-columns: 60px 60px;
    grid-template-rows: 25px 75px;
    align-items: end;
}

.hitDice {
    width: 60px;
    height: 100%;
    display: grid;
    grid-template-columns: 60px;
    grid-template-rows: 35px 65px;
    align-items: end;
}

.hitHeader {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
    grid-row: 1;
    font-size: 13px;
    line-height: 15px;
}

.deathSaves {
    width: 60px;
    height: 100%;
    display: grid;
    grid-template-columns: 60px;
    grid-template-rows: 25px 75px;
    place-items: end center;
}

.attempts {
    width: 50px;
}

.sheetLogo {
    height: 35px;
    width: 720px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logoTracery {
    height: 12px;
}

.logoTressym {
    height: 30px;
}

.sheetMain {
    height: 900px;
    width: 720px;
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.mainStats {
    height: 100%;
    width: 265px;
    display: flex;
    flex-direction: column;
}

.mainFeatures {
    height: 100%;
    width: 435px;
    box-sizing: border-box;
    border: 2px solid #a9a9ac;
}

.abilities {
    height: 615px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.abilitiesColumn {
    height: 100%;
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.proficiency {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #a9a9ac;
    box-sizing: border-box;
    padding: 2px;
}

.abilitiesH {
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

.abilitiesInput {
    border: 1px solid #a9a9ac;
    font-size: 20px;
    line-height: 35px;
    height: 35px;
    width: 35px;
    outline: none;
    background: none;
    text-align: inherit;
    box-sizing: border-box;
    z-index: 1;
}

.strength {
    height: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #a9a9ac;
    box-sizing: border-box;
    padding: 2px;
}

.modifier {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;

}
