.pageWrapper {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, rgb(0 0 0 / 60%), transparent), url("/public/assets/background/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.pageCreateHeader {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 5vh;
    line-height: 10vh;
    color: rgb(255 203 93);
}

.pageCreateHeaderTracery {
    height: 2vh;
}