.pageWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, rgb(0 0 0 / 60%), transparent), url("/public/assets/background/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.tressymHeader,
.tressymHeaderPages{
    height: 10vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 10vh 30vw auto auto auto 23vh;
    grid-template-rows: 10vh;
    place-items: center start;
    font-size: 2vh;
    line-height: 10vh;
    color: rgb(255 203 93);
}

.tressymHeaderPages {
    grid-template-columns: 10vh 20vw 5vw 5vw 5vw 15vw 15vw 5vw;
}

.headerPage,
.headerPageCurrent {
    place-self: center;
    font-size: 3vh;
    line-height: 10vh;
    opacity: 0.5;
    cursor: auto;
}

.headerPageCurrent {
    opacity: 1;
}

.pageCreateHeaderTressym {
    height: 5vh;
    justify-self: center;
}

.linkBtn {
    text-decoration: none;
}

.errorPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tressymImg {
    height: 20vh;
    width: 20vh;
}

.errorTitle {
    font-size: 2vh;
    margin: 2vh;
}