@media (width < 1024px) {
    .pageWrapper {
        display: none !important;
    }

    .mobileWarning {
        display: flex !important;
    }
}

.mobileWarning {
    position: fixed;
    inset: 0;
    background-image: linear-gradient(to top, rgb(0 0 0 / 60%), transparent), url("/public/assets/background/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10000;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    padding: 2rem;
    box-sizing: border-box;
}

.mobileWarningInner {
    max-width: 350px;
    width: 100%;
    text-align: center;
}

.mobileWarningText {
    width: 100%;
    font-size: 5vh;
}

.pageWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, rgb(0 0 0 / 60%), transparent), url("/public/assets/background/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.tressymHeader,
.tressymHeaderPages{
    display: block;
    height: 10vh;
    width: 100vw;
    font-size: 2vh;
    line-height: 10vh;
    position: relative;
    box-sizing: border-box;
}

.tressymHeaderLeft {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: start;
    align-items: center;
    padding: 3vh;
    text-decoration: none;
    cursor: pointer;
}

.tressymHeaderRight {
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30vh;
    width: 20vw;
    display: grid;
    gap: 1vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.loginForm > :nth-child(n) {
    justify-self: center;
}

.loginInput {
    height: 60px;
    width: 400px;
    padding: 8px 12px;
    border: 1px solid rgb(255 203 93 / 50%);
    border-radius: 6px;
    background: none;
    font-size: 14px;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.passContainer {
    position: relative;
}


.loginInput::placeholder {
    color: rgb(255 203 93 / 50%);
}

.loginInput:focus {
    outline: none;
    border-color: rgb(255 203 93);
    box-shadow: 0 0 0 3px rgb(255 203 93 / 40%);
}

.passBtnOff, .passBtnOn {
    position: absolute;
    left: 95%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid rgb(255 203 93);
    background: none;
    cursor: pointer;
}

.passBtnOn {
    background: rgb(255 203 93);
}

.loginBtn {
    height: 60px;
    width: 400px;
    text-align: center;
    text-decoration: none;
    color: rgb(255 203 93);
    border: 1px solid rgb(255 203 93);
    border-radius: 6px;
    background: none;
}

.loginBtn:hover {
    cursor: pointer;
    box-shadow: 0 0 0 3px rgb(255 203 93 / 40%);
}

.loginBtn:visited {
    color: rgb(255 203 93);
}

.headerPage,
.headerPageCurrent {
    place-self: center;
    font-size: 3vh;
    line-height: 10vh;
    opacity: 0.5;
    cursor: pointer;
    text-decoration: none;
}

.headerPageCurrent {
    opacity: 1;
}

.pageCreateHeaderTressym {
    height: 5vh;
    justify-self: center;
}

.linkBtn {
    text-decoration: none;
}

.errorPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tressymImg {
    height: 20vh;
    width: 20vh;
}

.errorTitle {
    font-size: 2vh;
    margin: 2vh;
}