.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-right: 20vw;
    position: relative;
    background-image: url("/public/assets/background/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    pointer-events: none;
}

.startSlogan {
    position: absolute;
    right: 10vw;
    top: 30vh;
    width: 38vw;
}

.startPageH2 {
    font-size: 10vh;
    line-height: 10vh;
}

.startPageH3 {
    font-size: 2vh;
    line-height: 3vh;
    font-family: Roboto, sans-serif;
}

.user {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5vh;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: start;
    align-items: center;
    padding: 3vh;
}

.userImg {
    height: 2.5vh;
    justify-self: center;
}

.logout {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    opacity: 0.5;
}

.logout:hover {
    opacity: 1;
}