* {
    color: rgb(255 203 93);
}

.subItem {
    margin-left: 10vw;
    height: 30vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
    position: relative;
}

.subItemTitle {
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.subItemTitleValueActive {
    height: 5vh;
    font-size: 3vh;
    line-height: 5vh;
    text-decoration: underline;
    cursor: pointer;
}

.subItemTitleValue {
    height: 5vh;
    font-size: 3vh;
    line-height: 5vh;
    color: rgb(255 203 93 / 50%);
    cursor: pointer;
}

.subItemDescription {
    margin-bottom: 1vh;
    width: 100%;
    font-size: 2vh;
    line-height: 3vh;
    font-family: Roboto, sans-serif;
}

.subItemChars {
    display: inline-block;
}

.subItemCharsTitle {
    font-size: 2vh;
    line-height: 4vh;
    font-family: Roboto, sans-serif;
}

.subItemCharsValue {
    margin-left: 1vw;
    font-size: 2vh;
    line-height: 4vh;
    font-family: Roboto, sans-serif;
}

.subItemAbilitiesTitle, .subItemAbilitiesDescription{
    font-family: Roboto, sans-serif;
    font-size: 2vh;
    line-height: 4vh;
}

.subItemAbilitiesTitle {
    font-weight: bold;
}

.subItemCorner1 {
    width: 5vw;
    position: absolute;
    left: 0;
    top: 0;
    transform: scaleX(-1);
}

.subItemCorner2 {
    width: 5vw;
    position: absolute;
    right: 0;
    top: 0;
}

.subItemCorner3 {
    width: 5vw;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: scaleY(-1);
}

.subItemCorner4 {
    width: 5vw;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleY(-1) scaleX(-1);
}