.featureBtnOn, .featureBtnOff {
    clip-path: inset(0 round 4px);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px solid rgb(255 203 93);
    background: none;
    cursor: pointer;
    place-self: center center;
    position: relative;
}

.featureBtnOn::after {
    content: "";
    position: absolute;
    inset: 2px;
    border-radius: 50%;
    border: 1px solid rgb(255 203 93);
    background: none;
}

.featureBtnOff::after {
    content: "";
    position: absolute;
    inset: 2px;
    border-radius: 50%;
    border: 1px solid rgb(255 203 93);
    background: rgb(255 203 93);
}