* {
    color: rgb(255 203 93);
}

.subItem {
    margin-left: 10vw;
    height: 30vh;
    width: 80vw;
    display: flex;
    gap: 1vh;
    flex-direction: column;
}

.subItemTitle {
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.subItemDescriptionContainer {
    width: 100%;
    height: 24vh;
    position: relative;
    padding: 1vh 5vw;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.subItemTitleValueActive {
    height: 5vh;
    font-size: 3vh;
    line-height: 5vh;
    text-decoration: underline;
    cursor: pointer;
}

.subItemTitleValue {
    height: 5vh;
    font-size: 3vh;
    line-height: 5vh;
    color: rgb(255 203 93 / 50%);
    cursor: pointer;
}

.subItemDescription {
    width: 100%;
    overflow-y: scroll;
    font-size: 2vh;
    line-height: 3vh;
    font-family: Roboto, sans-serif;
    padding-right: 5px;
}

.subItemDescription::-webkit-scrollbar {
    width: 1px;
    background: transparent;
}

.subItemDescription::-webkit-scrollbar-thumb {
    background: rgb(255 203 93);
}

.subItemAbilities {
    width: 100%;
    overflow-y: scroll;
    padding-right: 5px;
}

.subItemAbilities::-webkit-scrollbar {
    width: 1px;
    background: transparent;
}

.subItemAbilities::-webkit-scrollbar-thumb {
    background: rgb(255 203 93);
    border-radius: 50%;
}

.subItemChars {
    display: inline-block;
}

.subItemCharsTitle {
    font-size: 2vh;
    line-height: 3vh;
    font-family: Roboto, sans-serif;
    color: rgb(255 207 107);
}

.subItemCharsValue {
    margin-left: 1vw;
    font-size: 2vh;
    line-height: 3vh;
    font-family: Roboto, sans-serif;
}

.subItemAbilitiesTitle, .subItemAbilitiesDescription{
    font-size: 2vh;
    line-height: 3vh;
    font-family: Roboto, sans-serif;
}

.subItemAbilitiesTitle {
    font-weight: bold;
    color: rgb(255 207 107);
}

.subItemTopLine {
    height: 1.5vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    top: 0;
}

.subItemBottomLine {
    height: 1.5vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
    bottom: 0;
}