.nameForm {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nameInput {
    width: 600px;
    height: 60px;
    font-size: 30px;
    line-height: 35px;
    padding-left: 10px;
    color: rgb(255 203 93);
    border: 2px solid rgb(255 203 93);
    outline: none;
    background-color: rgb(125 0 0 / 10%);
}

.title {
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 35px;
    color: rgb(255 203 93);
}

.nameHint {
    margin-top: 10px;
    width: 600px;
    height: 25px;
    font-size: 10px;
    line-height: 25px;
    font-family: Roboto, serif;
    text-align: start;
    color: rgb(255 203 93);
}