.nameForm {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nameInput {
    width: 50vw;
    height: 10.5vw;
    font-size: 30px;
    line-height: 35px;
    padding-left: 2vw;
    color: rgb(255 203 93);
    border: 0;
    outline: none;
    background-color: rgb(125 0 0 / 0%);
    background-image: url("/public/assets/icons/horizontalFrame.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.nameInput::placeholder {
    color: rgb(255 203 93);
}

.title {
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 35px;
    color: rgb(255 203 93);
}

.nameHint {
    margin-top: 1vw;
    width: 50vw;
    height: 1vw;
    font-size: 1vw;
    line-height: 2vw;
    font-family: Roboto, serif;
    text-align: start;
    color: rgb(255 203 93);
}